<div class="jumbotron">
  <h1 class="display-4">Stitchfox HQ</h1>
  <p class="lead">Hello! This is where our custom internal tools live</p>
  <hr class="my-4">
  <p>There's not a lot here now but this will (hopefully) change over time :)</p>
  <a class="btn btn-secondary btn-lg" href="/hq/stylist_home" role="button">Stylist Home</a>
</div>
