<div class="jumbotron ml-5 mt-3 mr-5">
  <h1 class="display-4">Stitchfox HQ</h1>
  <p class="lead">This is where our custom internal tools live</p>
  <hr class="my-4">
  <p>There's not a lot here now but this will (hopefully) change over time :)</p>

  <h2>Place To Go:</h2>
  <a class="btn btn-secondary btn-lg mt-5" href="/hq/stylist_home" role="button">Stylist Home</a>
</div>
