<div class="container">

  <h1 class="my-4 text-center text-lg-left">Product Search (test)</h1>
  <button type="button" class="btn btn-danger" id="test_button">Test</button>

  <div class="row text-center text-lg-left" id="results">
  </div>
</div>
