<div class="container">
  <h1 class="my-4 text-center text-lg-left">Product Search (test)</h1>
  <div class="card ml-5 mt-3 mr-5">
    <div class="card-header">
      Get products by Subscription ID
    </div>
    <div class="card-body">
      <p class="card-text">See all products that match a sub's style profile</p>
      <form id="sub_search_input">
        <div class="form-group">
          <input type="text" class="form-control" id="searchInput" placeholder="Enter Chargebee subscription ID" name=searchInput>
        </div>
        <button id="sub_search_button" type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="row text-center text-lg-left" id="results">
    </div>
  </div>
</div>

<script src="/static/javascript/fe_product_search.js" type="text/javascript"></script>
