<h1>Shipped Product Search</h1>

<div class="card">
  <div class="card-header">
    Search By Email
  </div>
  <div class="card-body">
    <p class="card-text">See all the products sent to a customer.</p>
    <form id="email_get_form">
      <div class="form-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search for sent items by customer email" name=searchInput>
      </div>
      <button id="email_get_button" type="button" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Search By Email & SKU
  </div>
  <div class="card-body">
    <p class="card-text">Check whether a specific item has been sent to a customer before.</p>
    <form id="email_sku_check_form">
      <div class="form-group">
        <label for="emailSearchInput">Email</label>
        <input type="text" class="form-control" id="emailSearchInput" placeholder="Search for sent items by customer email" name=emailSearchInput>
      </div>
      <div class="form-group">
        <label for="skuSearchInput">Product SKU</label>
        <input type="text" class="form-control" id="skuSearchInput" placeholder="Search for sent items by customer email" name=skuSearchInput>
      </div>
      <button id="email_sku_check_button" type="button" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

<script src="/static/javascript/fe_shipped_product_searcher.js" type="text/javascript"></script>
