<div class="jumbotron ml-5 mt-3 mr-5">
  <h1 class="display-4">Stylist Toolbox</h1>
  <p class="lead">This is where we keep tools built especially for stylists. Have an idea you think will be useful? Let us know!</p>
  <hr class="my-4">
  <p>Like the rest of this place, there's not a lot here now but this will (hopefully) change over time :)</p>
  <a class="btn btn-secondary btn-lg" href="/hq/shipped_product_search" role="button">Shipped Product Search</a>
  <a class="btn btn-secondary btn-lg" href="/hq/product_search" role="button">Product Search</a>
</div>
